<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./../coronavirus.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Corona Virus Tracker</title>
</head>

<body>
    <div class="container">

        <canvas id="mychart">


        </canvas>



    </div>

    <div class="container">
        <canvas id="piechart" width="500" height="500">

        </canvas>


    </div>

</body>

<script>
    let myChart = document.getElementById('mychart').getContext('2d');
    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
        type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: [{{ taarik }}],
        datasets: [{
            label: 'Cases',
            data: [{{ cases }}],
        // label: 'Recovered',
        // data: [
        //   132232, 23423, 4234, 234234, 23423, 4324
        // ],
        //backgroundColor:'green',
        backgroundColor: [
            'rgba(255, 255, 18, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
        ],
        borderWidth: 1,
        borderColor: 'red',
        hoverBorderWidth: 3,
        hoverBorderColor: '#000'
    }]
        },
    options: {
        title: {
            display: true,
                text: 'Confirm Cases',
                    fontSize: 25
        },
        legend: {
            display: true,
                position: 'right',
                    labels: {
                fontColor: '#000'
            }
        },
        layout: {
            padding: {
                left: 50,
                    right: 0,
                        bottom: 0,
                            top: 0
            }
        },
        tooltips: {
            enabled: true
        }
    }
    });












    var chartDiv = document.querySelector("#piechart").getContext('2d')

    var mychart = new Chart(chartDiv, {
        type: 'pie',
        data: {
            labels: ["Deaths", "Active", "Recovered",],
            datasets: [
                {
                    data: [{{ deaths }}, {{ active }}, {{ recovered }}],
    backgroundColor: [
        "#FF6384",
        "#4BC0C0",
        "#FFCE56",
        "#E7E9ED",
        "#36A2EB"
    ]
                }]
        },
    options: {
        title: {
            display: true,
                text: 'List of cases ',
                
        },
        responsive: true,
            maintainAspectRatio: false,
        }
    });















</script>

</html>